EXPO_PUBLIC_BACKEND_PROVIDER=FIREBASE
EXPO_PUBLIC_AUTH_MODE=EMAIL_PASSWORD
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=
